<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAlhw9qg1mGYtqye5fQ8sfnw3_mdDFMNI</string>
	<key>GCM_SENDER_ID</key>
	<string>39338144910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chefsysApp</string>
	<key>PROJECT_ID</key>
	<string>chefsys-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chefsys-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39338144910:ios:e1d4592db68a2ffc1445df</string>
</dict>
</plist>